.Main {
    padding-top: 150px;
    padding-bottom: 10vh;

}

.Container {
    display: flex;
    flex-direction: row;
}

.Title {
    text-align: center;
}

.Left, .Right {
    flex:1;
    padding: 50px;
}

.BigText {
    font-size: large;
}

.HiddenCaption {
    display: none;
    font-size: medium;
    font-weight: bold;
    position: relative;
    bottom: 10px;
}

.Photo {
    max-width: 400px;
    height: auto;
    transition: all 0.3s ease;
}

.Photo:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
}

.PhotoContainer {
    display: inline-block;
    position: relative;
}

.PhotoContainer:hover .HiddenCaption {
    display: block;
}

.LeftAlign {
    text-align:left;
}
