.container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
      font-weight: 600;
}

.leftSide {
  background-color: #629460;
  width: 35%;
  padding: 2rem;
}

.PersonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 310px;
    background-color: #F4ece6;
    padding: 40px 0px 0px 0px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.PersonCard:hover {
  transform: scale(1.03);
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0% 40%;
}

.halfBorder {
    width: 20%;
    align-self: center;
    border-top: 2px solid #64dafb
}

.title {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: 200;
}

/*Container for social icons*/
.socialIcons {
  margin-top: auto;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 1.5rem;
  background-color: white;
  color: gray;
  transition: all 0.2s ease;
}

/*Individual social icons*/
.socialIcon {
  font-size: 1.7rem;
  color: gray;
  transition: all 0.2s ease;
}

.socialIcon:hover {
  color: black;
}

.rightContent {
  flex: 1;
  max-width: 400px;
  padding-top: 120px;
  padding-left: 70px;
}

.Name {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.subTitle {
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.primary {
  background-color: #64dafb;
  border: none;
  padding: 0.6rem 1.5rem;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.secondary {
  background-color: transparent;
  border: 2px solid #64dafb;
  color: #64dafb;
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.description {
  color: #555;
  line-height: 1.6;
}