
a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

a:hover {
    color: white;

}

li {
    text-decoration: none;
    list-style: none;
    flex:1;
}

ul {
    padding-left: 0;
    display: flex;
}

.Navbar {
    background-color: #1a1a1a;
    color: #f1f1f1;
    position:fixed;
    width:100%;
}
