
a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

a:hover {
    color: white;

}

.NavbarItem {
    text-decoration: none;
    list-style: none;
    flex:1;
    font-size:20px;
}

.NavbarUl {
    padding-left: 0;
    display: flex;
}

.Navbar {
    background-color: #1a1a1a;
    color: #f1f1f1;
    position:fixed;
    z-index: 100;
    width:100%;
}

.Dropdown {
    position:relative;
    display:inline-block;
}

.DropdownMenu {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background-color: white;
    min-width: 160px;
    z-index: 1;
    padding-left: 0;
    display: none;
}

.DropdownItem {
    list-style:none;
}

.DropdownItem a {
    background-color:black;
    display: block;
}


.Dropdown:hover .DropdownMenu, .DropdownMenu:hover {
    display: block;
}
